.container
    %section
        .page-header
            %h1 Translate Overcast Network
        .col-lg-6
            %section.translate_text
                %p
                    Help translate Overcast Network to the languages of the world.
                %p
                    Welcome!

                    By ending up on this page, you have shown interest in the translation efforts of the Overcast Network.
                %p
                    You can help by creating a translation for your language or proofreading existing translations.
                %p
                   What is the translation team and what does it do?

                   As of the writing of this text, the translation team is a group of dozens of people volunteering to invest their time and knowledge into translating the Overcast Network to the languages of the world. 
                   These people are divided into smaller groups, with each small group working on a specific language. No one works on their own. 
                   Aiming at full immersion for the plugins, translators are constantly working towards a 100% translation of their language.

                   Translating

                   Overcast Network uses Crowdin, a localization management platform, to allow the community to translate the website and plugin to its myriad of languages. 
                   The goal of these translations is to support every single one of those, making Overcast Network easier and friendlier to use, and lowering the treshold for newer players in the meantime. 
                   Translators have an account on Crowdin, which allows them to contribute by making suggestions for specific strings. In order for those to be displayed on the Overcast Network, these suggestions need to be approved by a “proofreader” who acts just like any other translator, but has some additional perks. 
                   Translators will be provided with thorough graphic support and advice.

                   You can find this information and more in the %a{:href => "https://oc.tc/forums/topics/558706b567d52283a4000502", :target => "_blank"} FAQ on the forums.

                   If your interest in joining us hasn’t dwindled after reading through this page (we hope it’s strengthened!) and you wish to become a part of the team, make sure to contact us by filling out the %a{:href => "https://docs.google.com/forms/d/19aKUmJz6LjJ2XeXUNBWLcY3Z1LGhH-b2aAZkczZ2n14/viewform", :target => "_blank"} FAQ
        
        .col-lg-6
            .col-sm-6.marketing
                %img{:src => "/img/Advert.png", :width => "240px"}
                %h2 Translation FAQ
                %p General information about what we do.

                %p
                    %a.btn.btn-default{:href => "https://oc.tc/forums/topics/558706b567d52283a4000502"} View FAQ »
            .col-sm-6.marketing
                %img{:src => "/img/Apply.png", :width => "240px"}
                %h2 Application form
                %p Want to join? Fill this form out!

                %p
                    %a.btn.btn-default{:href => "https://docs.google.com/forms/d/19aKUmJz6LjJ2XeXUNBWLcY3Z1LGhH-b2aAZkczZ2n14/viewform"} Apply »
